*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-btn{
    background-color: #F7F3F3;
    /* border: none; */
    border: 1px solid gray;
    width: 110px;
}
.fa-phone{
    border: none;
    color: #fff;
}
.star {
    border: none;
    color: #F4B82D;
}
.product-sec-btn{
    border: none;
    border-radius: 5px;
    background-color: #2456F9;
    width: 160px;
    color: #fff;
    font-weight: 600;
}
.first-color{
    color: #2456F9;
    font-weight: 600;
}
.new{
    background-color: #2456F9;
    font-weight: 600;
    color: #fff;
    height: 28px;
    width: 55px;
    text-align: center;
}
.discount{
    background-color: #000;
    font-weight: 600;
    color: #fff;
    height: 28px;
    width: 55px;
    text-align: center;
}

.latest-btn{
    border: none;
    background-color: #2456F9;
    color: #fff;
    width: 150px;
    font-weight: 600;
    /* border-radius: 5px;  */
}
.fa-gift{
    border: none;
    font-size: 27px;
    color: #2456F9;
    margin-right: 20px;
}
.card-footer{
    border: none;
    background: none;
}

/* Header */
#header-top{
    background-color: #0E6AAB;
}
#header-top .right a{
    color: #fff;
}
#header-middle{
    background-color: #0F9CD3;
}
#header-middle .header-middle-first div{
    background-color: #fff;
    height: 35px;
    width: 90px;
}
#header-bottom{
    background-color: #0F9CD3;
}
.btn-search{
    background-color: #0868A0;
    color: #fff;
    width: 130px;
}
.search-span{
    font-weight: 600;
}
.header-middle-last{
    color: #fff;
    font-weight: 400;
}
.header-middle-last .fa-shuttle-van{
    border: none;
    color: #fff;
}
header .navbar-nav .nav-item .nav-link{
    font-weight: 600;
}
header .dropdown-option a{
    color: #fff;
    font-weight: 600;
}

header .dropdown-menu a:hover{
    background-color: rgb(107, 103, 103);
}
header .dropdown-menu{
    background-color: #000;
    opacity: 0.7;
    width: 250px;
}
header .dropdown-menu .dropdown-item{
    color: #fff;
}
header .dropdown-menu .dropdown-item:hover{
    color: #000;
}
/* <!-- Carousel Slider --> */
.carousel-indicators .active{
    height: 7px;
    width: 30px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #ff8206, #ffd019);
}
.carousel-indicators li{
    height: 7px;
    width: 10px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.2); 
    margin: 8px 2px;
}
/* Banner */
#banner img{
    height: 100%;
    width: 100%;
}
.brand-head{
    width: 250px;
    min-height: 35px;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 85% 100%, 100% 0);
    background: #2456F9;
    padding-left: 10px;
}
.brand-head h5{
    font-weight: 600;
    color: #fff;
}
.brand {
    border: 2px solid lightgray;
    border-radius: 5px;
}
.brand img{
    height: 120px;
    width: 120px;
}
#brand .card{
    border: none;
}

/* product 1st section */
#first-product-container{
    background-color: #F1F2F3;
}
#first-product-container img{
    height: 200px;
    width: 180px;
}
.product-status{
    position: relative;
}
.status{
    position:absolute;
    top: 0;
}
.first-section{
    border: none;
}
/* Deal Of the day Section */
#deal-section{
    background: #fff;
}
.deal-head{
    width: 210px;
    min-height: 35px;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 85% 100%, 100% 0);
    background: #2456F9;
    padding-left: 10px;
}

.deal-head h5{
    font-weight: 600;
    color: #fff;
}
.deal-btn button{
    border: none;
    background-color: #D5D5D5;
    border-radius: 5px;
    width: 35px;    
}

.deal-btn i{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
/* Deal Product Section */
#deal-product{
    background-color: #F1F2F3;
}
.deal-price .first-price{
    margin-right: 10px;
    text-decoration: line-through;
}
.deal-price .discount-price{
    color: #2456F9;
    font-weight: 600;
}
.cart-btn{
    border: none;
    width: 100%;
    background-color: #2456F9;
    color: #fff;
    border-radius: 5px;
    margin-right: 5px;
}
.cart-btn span{
    font-size: 15px;
    font-weight: 600;
}
.cart-icon{
    border: none;
    padding: 0 6px;
    margin-right: 5px;
    background-color:#F1F2F3;
    border: 1px solid lightgray;
}
.cart-btn i{
    font-size: 15px;
}
.deal-card .img-portion{
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.deal-card img{
    height: 250px;
}
.deal-card .last-img{
    height: 220px;
}
/* feature-product */
#feature-product .nav .nav-item .nav-link{
    color: #000;
}
/* polular-section */
#polular-section{
    background: #fff;
}
.popular-head{
    width: 240px;
    min-height: 35px;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 85% 100%, 100% 0);
    background: #2456F9;
    padding-left: 10px;
}
.popular-head h5{
    font-weight: 600;
    color: #fff;
}
/* Popular Product */
#popular-product{
    background-color: #F1F2F3;
}
#popular-product .card{
    padding: 10px;
}
.popular-img{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular-img img{
    height: 170px;
    width: 190px;
}

/* Furniture Banner */
#furniture{
    height: 400px;
}
#furniture img{
    height: 100%;
    width: 100%;
}
/* Discount Product */
#discount-product img{
    height: 260px;
    width: 260px;
}
 
#discount-product .discount-item h5{
    color: #F17CAC;
    font-weight: 700;
}
#discount-product .discount-item p{
    font-weight: 600;
}
#discount-product .discount-item button{
    border: none;
    background-color: #2456F9;
    color: #fff;
    padding: 2px 10px;
    border-radius: 3px;
    font-weight: 600;
}
.discount-card{
    position: relative;
}
.discount-status{
    position: absolute;
    right: 25px;
    bottom: 20px;
}

/* Latest News */
.latest-head{
    width: 175px;
    min-height: 35px;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 85% 100%, 100% 0);
    background: #2456F9;
    padding-left: 10px;
}
.service{
    border: 1px solid lightgray;
    border-radius: 5px;
}
.fa-shuttle-van{
    border: none;
    font-size: 40px;
    color: #2456F9;
    margin-right: 20px;
}
.fa-clock{
    border: none;
    font-size: 40px;
    color: #2456F9;
    margin-right: 20px;
}
.gift{
    font-size: 40px;
}
/* Footer */
#first-footer-portion{
    background-color: #046BAD;
    color: #fff;
    font-weight: 600;
}
.upper-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list-unstyled li a{
    text-decoration: none;
}
/* Footer Lower */
#second-footer-portion{
    background-color: #0B8CBE;
    color: #fff;
}
.lower-footer-img img{
    height: 35px;
    width: 65px;
}
.btn-subscribe{
    border: 2px solid #fff;
    color: #fff;
    width: 130px;
}
.follow-us i{
    font-size: 25px;
    border: none;
    color: #fff;
}

/* Footer For mobile */
#footer-mobile{
    display: none;
    background-color: #046BAD;
    color: #fff;
    font-weight: 600;
}


/* portfolio button*/
div#feature-product nav .button-group button {
    background: transparent;
    border: 0;
    margin-right: 37px;
    color: #999;
}
div#feature-product nav .button-group button.is-checked {
    font-weight: bold;
    color: #000;
}